# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Popular languages for Data Science
* Commonly used libraries for Data Science
* Data Science Tools

# Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. matplotlib
4. caret

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60.
200 / 60

3.3333333333333335

## Author
Azi